<h2 class="page-heading">Web Development and UI Demos</h2>

<div class="wrapper">
  <section class="demo">
    <div class="floated-img-right">
      <a target="_blank" href="https://slatron.github.io/responsive-table-demo/">
        <img src="/ms_assets/images/table-demo.png" alt="Responsive Table Demo" />
      </a>
    </div>
    <h3>Responsive UI Tables</h3>
    <h4>
      <a target="_blank" href="https://github.com/slatron/responsive-table-demo">git repo</a>
      |
      <a href="https://slatron.github.io/responsive-table-demo/">demo page</a>
    </h4>
    <h6>
      <span class="tag">CSS</span>
      <span class="tag">Responsive UI</span>
    </h6>
    <p>Demonstrates a way to display large tables in mobile browsers without hiding columns while re-using the same HTML.</p>
  </section>
  <section class="demo">
    <div class="floated-img-right">
      <a target="_blank" href="https://slatron.github.io/life-tracker/">
        <img src="/ms_assets/images/life-tracker-demo.png" alt="Life Tracker Demo" />
      </a>
    </div>
    <h3>Life Tracker App</h3>
    <h4>
      <a target="_blank" href="https://github.com/slatron/life-tracker">git repo</a>
      |
      <a href="https://slatron.github.io/life-tracker/">demo page</a>
    </h4>
    <h6>
      <span class="tag">CSS</span>
      <span class="tag">React</span>
      <span class="tag">Vite</span>
      <span class="tag">Layout</span>
    </h6>
    <p>Use case for using both grid and flex display together. The life total section layout is handled with grid display while alignment on button rows and text is flex.</p>
    <p>This is a good codebase to showcase how I build small React web apps.</p>
  </section>
  <section class="demo">
    <div class="floated-img-right">
      <a target="_blank" href="https://docs.google.com/presentation/d/1DdbF7-ofK6Gz5TbVYDN1u7bVCkR1Qy-N/edit?usp=sharing&ouid=104317916180520807714&rtpof=true&sd=true">
        <img src="/ms_assets/images/js-presentation.png" alt="Async Javascript Presentation" />
      </a>
    </div>
    <h3>Javascript Async Presentation</h3>
    <h4>
      <a target="_blank" href="https://docs.google.com/presentation/d/1DdbF7-ofK6Gz5TbVYDN1u7bVCkR1Qy-N/edit?usp=sharing&ouid=104317916180520807714&rtpof=true&sd=true">slides</a>
    </h4>
    <h6>
      <span class="tag">Javascript</span>
      <span class="tag">Async Patterns</span>
    </h6>
    <p>This is a presentation I gave. The subject was to demonstrate the ways async client programming has evolved in javascript.</p>
    <p>I used the slides as way to demonstrate the js stack visually. Flipping slides shows how js tasks move through the execution stack.</p>
  </section>
</div>
