
<div class="spacer">
  <a class="btn" href="/recordings.html">
    Listen To Playlists <img class="link-icon" src="/ms_assets/images/listen.svg" />
  </a>
</div>

<ul class="slug-list">
  {% for post in paginator.posts %}
  <li class="category-{{post.category}}">
    <div class="slug-list-dateline">
      <span class="slug-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      {% if post.final_mix %}
      <a title="Listen to Final Mix" href="{{post.final_mix}}" target="_blank">
        <img class="link-icon" src="/ms_assets/images/listen.svg" />
      </a>
      {% else %}
      <span title="Song In Progress">
        <img class="link-icon" src="/ms_assets/images/hourglass.svg" />
      </span>
      {% endif %}
    </div>
    <h2>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <a href="{{ post.url | prepend: site.baseurl }}">
      <img loading="lazy" src="/ms_assets/images/albums/{{ post.image }}" />
    </a>
    <span class="desc">{{ post.desc }}</span>
  </li>
  {% endfor %}
</ul>


<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pag-but" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pag-but active">{{ page }}</span>
    {% elsif page == 1 %}
      <a class="pag-but" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="pag-but" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="pag-but" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
  {% endif %}
</div>
{% endif %}

<h2 class="page-heading">Web Development and UI Demos</h2>

<section class="demo lower">
  <div class="floated-img-right">
    <a target="_blank" href="https://slatron.github.io/setlist-manager/">
      <img src="/ms_assets/images/setlist-manager-demo.png" alt="Setlist Manager Demo" />
    </a>
  </div>
  <h3>Setlist Manager App</h3>
  <h4>
    <a target="_blank" href="https://github.com/slatron/setlist-manager">git repo</a>
    |
    <a href="https://slatron.github.io/setlist-manager/">demo page</a>
  </h4>
  <div>
    <span class="tag">Firebase DB</span>
    <span class="tag">Firebase Auth</span>
    <span class="tag">React</span>
    <span class="tag">Responsive UI</span>
  </div>
  <p>This is an app I created with React and Firebase. It helps my band to manage setlists and songs.</p>
  <p>Setlist Manager allows the user to highlight setlists by what instrument each member is playing or who is singing. This assists in creating setlists minimizing the number of instrument switches between songs. Its also useful to assemble practice lists and organize shows by what members are available.</p>
  <p>This was created with React and Firebase. It registers in the user as a guest on pageload. Admin users can login to view additional functionality.</p>
</section>
<section class="demo lower">
  <div class="floated-img-right">
    <a target="_blank" href="https://slatron.github.io/life-tracker/">
      <img src="/ms_assets/images/life-tracker-demo.png" alt="Life Tracker Demo" />
    </a>
  </div>
  <h3>Life Tracker App</h3>
  <h4>
    <a target="_blank" href="https://github.com/slatron/life-tracker">git repo</a>
    |
    <a target="_blank" href="https://github.com/slatron/life-tracker-ts">typescript conversion</a>
    |
    <a href="https://slatron.github.io/life-tracker/">demo page</a>
  </h4>
  <div>
    <span class="tag">CSS</span>
    <span class="tag">React</span>
    <span class="tag">Vite</span>
    <span class="tag">Layout</span>
    <span class="tag">TypeScript</span>
  </div>
  <p>Use case for using both grid and flex display together. The life total section layout is handled with grid display while alignment on button rows and text is flex.</p>
  <p>This is a good codebase to showcase how I build small React web apps.</p>
  <p>I also converted this from vanilla React + JS to TypeScript as an excercise in learning TypeScript.</p>
</section>
<section class="demo lower">
  <div class="floated-img-right">
    <a target="_blank" href="https://slatron.github.io/responsive-table-demo/">
      <img src="/ms_assets/images/table-demo.png" alt="Responsive Table Demo" />
    </a>
  </div>
  <h3>Responsive UI Tables</h3>
  <h4>
    <a target="_blank" href="https://github.com/slatron/responsive-table-demo">git repo</a>
    |
    <a href="https://slatron.github.io/responsive-table-demo/">demo page</a>
  </h4>
  <div>
    <span class="tag">CSS</span>
    <span class="tag">Responsive UI</span>
  </div>
  <p>Demonstrates a way to display large tables in mobile browsers without hiding columns while re-using the same HTML.</p>
</section>
<section class="demo lower">
  <div class="floated-img-right">
    <a target="_blank" href="https://docs.google.com/presentation/d/1DdbF7-ofK6Gz5TbVYDN1u7bVCkR1Qy-N/edit?usp=sharing&ouid=104317916180520807714&rtpof=true&sd=true">
      <img src="/ms_assets/images/js-presentation.png" alt="Async Javascript Presentation" />
    </a>
  </div>
  <h3>Javascript Async Presentation</h3>
  <h4>
    <a target="_blank" href="https://docs.google.com/presentation/d/1DdbF7-ofK6Gz5TbVYDN1u7bVCkR1Qy-N/edit?usp=sharing&ouid=104317916180520807714&rtpof=true&sd=true">slides</a>
  </h4>
  <div>
    <span class="tag">Javascript</span>
    <span class="tag">Async Patterns</span>
  </div>
  <p>This is a presentation I gave. The subject was to demonstrate the ways async client programming has evolved in javascript.</p>
  <p>I used the slides as way to demonstrate the js stack visually. Flipping slides shows how js tasks move through the execution stack.</p>
</section>
<section class="demo lower">
  <h3>Older Demos</h3>
  <h4>
    <a target="_blank" href="https://jsfiddle.net/user/slatron/fiddles/">fiddle</a>
    |
    <a href="https://codepen.io/slatron">codepen</a>
  </h4>
  <p>These are pre-2014 codepen and fiddle examples I created while experimenting early on with jQuery, JavaScript, Responsive CSS, flex layout and more.</p>
</section>
