<h2>Frontend Web Dev and UI Demos</h2>

<div class="wrapper">
  <section class="demo">
    <div class="floated-img-right">
      <a target="_blank" href="https://slatron.github.io/responsive-table-demo/">
        <img src="/ms_assets/images/table-demo.png" alt="Responsive Table Demo" />
      </a>
    </div>
    <h3>Responsive UI Tables</h3>
    <h4>
      <a target="_blank" href="https://github.com/slatron/responsive-table-demo">git repo</a>
      |
      <a target="_blank" href="https://slatron.github.io/responsive-table-demo/">demo page</a>
    </h4>
    <h6>Skills: <span class="tag">CSS</span> <span class="tag"  >Responsive Design</span></h6>
    <p>Demonstrates a way to display large tables in mobile browsers without hiding columns while re-using the same HTML.</p>
  </section>
  <section class="demo">
    <div class="floated-img-right">
      <a target="_blank" href="https://slatron.github.io/life-tracker/">
        <img src="/ms_assets/images/life-tracker-demo.png" alt="Life Tracker Demo" />
      </a>
    </div>
    <h3>Life Tracker App</h3>
    <h4>
      <a target="_blank" href="https://github.com/slatron/life-tracker">git repo</a>
      |
      <a target="_blank" href="https://slatron.github.io/life-tracker/">demo page</a>
    </h4>
    <h6>Skills: <span class="tag">CSS</span> <span class="tag">React</span> <span class="tag">Vite</span> <span class="tag">Layout</span></h6>
    <p>Use case for using both grid and flex display together. The life total section layout is handled with grid display while alignment on button rows and text is flex.</p>
  </section>
</div>
