<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta name="language" content="english">
    <meta http-equiv="content-type" content="text/html">
    <meta name="author" content="Mike Slater">
    <meta name="designer" content="Mike Slater">
    <meta name="publisher" content="Mike Slater">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="/ms_assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ms_assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ms_assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/ms_assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/ms_assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} | {{ site.subtitle }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="React, web development, Audio Engineering, Home Recording Studio">
    <meta name="distribution" content="web">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="https://kit.fontawesome.com/a4536e2b46.js" crossorigin="anonymous"></script>
</head>
