<header class="header-bar" id="header-bar">
  <div class="flex-left vertical-align-container">
    <div class=hamburger onclick="toggleActive()"> 
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>  
  </div>
  <a class="flex-right vertical-align-container" href="{{ site.baseurl }}/">
      <span class="logo">MIKE</span>
      <span class="logo logo2">SLATER</span>
  </a>
</header>

<nav id="drawer"> 
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">
        <i class="fa-solid fa-house"></i> <span>Home</span>
      </a>
    </li>
    <li>
      <a href="/blog/">
        <i class="fa-solid fa-record-vinyl"></i> <span>Music Blog</span>
      </a>
    </li>
    <li>
      <a href="/recordings.html">
        <i class="fa-solid fa-headphones"></i> <span>Recordings</span>
      </a>
    </li>
    <li class="nested-links">
      <span class="nested-links-heading"><i class="fa-solid fa-code"></i> Web Dev Demos</span>
      <ul>
        <li>
          <a href="https://slatron.github.io/setlist-manager/">Setlist Manager</a>
        </li>
        <li>
          <a href="https://slatron.github.io/responsive-table-demo/">Responsive Table UI</a>
        </li>
        <li>
          <a href="https://slatron.github.io/life-tracker/">Lfetracker App</a>
        </li>
        <li>
          <a target="_blank" href="https://drive.google.com/file/d/1AeSaUoPH__wMDVbUmRYlGfEe5mlXK435/view?usp=sharing">
            <i class="fa-solid fa-file"></i> <span>Resume <i class="fa-solid fa-up-right-from-square fa-xs"></i></span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div id="window-shade" class="window-shade" onclick="toggleActive()"></div>

<script>
  const toggleActive = () => {
    document.getElementById('header-bar').classList.toggle('active');
    document.getElementById('drawer').classList.toggle('active');    
    document.getElementById('window-shade').classList.toggle('active');    
  };
</script>