<header class="header-bar" id="header-bar">
  <div class="flex-left vertical-align-container">
    <div class=hamburger onclick="toggleActive()"> 
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>  
  </div>
  <a class="flex-right vertical-align-container" href="{{ site.baseurl }}/">
      <span class="logo">MIKE</span>
      <span class="logo logo2">SLATER</span>
  </a>
</header>

<nav id="drawer"> 
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>
    <li>
      <a target="_blank" href="https://slatron.github.io/responsive-table-demo/">Responsive Table Demo</a>
    </li>
    <li>
      <a href="https://slatron.github.io/life-tracker/">Lfetracker App Demo</a>
    </li>
    <li>
      <a href="/recordings.html">Recordings</a>
    </li>
    <li>
      <a href="https://slatron.github.io/comics/">Comics</a>
    </li>
  </ul>
</nav>

<div id="window-shade" class="window-shade" onclick="toggleActive()"></div>

<script>
  const toggleActive = () => {
    document.getElementById('header-bar').classList.toggle('active');
    document.getElementById('drawer').classList.toggle('active');    
    document.getElementById('window-shade').classList.toggle('active');    
  };
</script>