.pagination {
  display:flex;
}

.pag-but {
  text-align: center;
  padding: 0 5px;
  margin-right: 1rem;
  border: 2px solid #232323;
  background: #d4d3db;
  color: #000000;
  border: 1px solid #686868;
  border-radius: 4px;

  &.active {
    font-weight: bold;
    font-size: 1.25rem;
    color: #000;
    background-color: inherit;
    border: none;
  }

  &:hover {
    text-decoration: none;
  }
}