/**
 * Page content
 */

.git-banner {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1000;
}

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
      font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
      font-size: 32px;

      @include media-query($on-laptop) {
          font-size: 28px;
      }
  }

  h3 {
      font-size: 26px;

      @include media-query($on-laptop) {
          font-size: 22px;
      }
  }

  h4 {
      font-size: 20px;

      @include media-query($on-laptop) {
          font-size: 18px;
      }
  }
}

.image-plus-caption {
  text-align: center;
  margin: $base-unit 0;

  em {
    background: #eee;
    font-size: 11px;
    margin: $base-unit/2 0;
    padding: $base-unit;
  }
}
