@import 'settings';

// /**
//  * Page content
//  */
.page-heading,
.post-title  {
  font-size: 1.2rem;
  @include breakpoint(tablet) {
    font-size: 1.65rem;
  }
} 

.page-content {
  padding-top: $header-height;
  z-index: 1;
}

li > ul > li {
  font-size: 11px;
}

.post-media-links {
  margin-bottom: $base-unit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slug-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .slug-list-dateline {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
  }

  li {
    margin-bottom: 0.5rem;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    background: #fbfbfb;
    padding: 0 $base-unit/2;
    display: flex;
    flex-direction: column;
    transition: all 1s;
    width: 100%;

    &:hover {
      border: 1px solid #292929;
      background: #ebece1;
    }

    a {
      text-align: center;
    }
  }
  h2 {
    font-size: 0.85rem;
    line-height: 1.6rem;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover {
        text-decoration: none;
      } 
    }
  }

  .desc {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}

.image-plus-caption {
  border: 3px dotted black;
  margin: 1em 3em;
  padding: 0.5em;
  line-height: 1em;
  img {
    margin-bottom: 0.25em;
    width:100%;
  }
  @include breakpoint(tablet) {
    margin: 1em 7em;
  }
}

@include media-query($mobile) {
  .slug-list {
    li {
      flex: 0 0 30%;
      max-width: 30%;

      &:last-child {
        align-self: flex-start;
      }
    }
    h2 {
      font-size: 1rem;
    }
  }
}
