// /**
//  * Page content
//  */
.wrapper {
  padding: 1em 0;
}

h1 {
  margin-bottom: 0;
}

.home > h1,
.post-header {
  margin-bottom: $spacing-unit;
}

.post-list {
  list-style-type: none;
  line-height: $base-font-size * 1.85;
}

.post-list h2 {
  margin: 0;
}

.post-list li {
  margin-bottom: $spacing-unit * 2;
}

li > ul > li {
  font-size: 11px;
}