@include media-query($on-palm) {
  .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
  }

  .git-banner {
    display: none;
  }
}
