// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  0.75rem;
$base-line-height: 1.75rem;
$base-line-height-paragraph: 2.5rem;

$header-height:    96px;
$header-color:     #e6e4e4;

$base-unit:        1rem;

$text-color:       #111;
$background-color: #ecebeb;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-dark:  darken($grey-color, 25%);
$grey-color-med:   lighten($grey-color, 20%);
$grey-color-light: lighten($grey-color, 45%);

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
