// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  0.75rem;
$base-line-height: 2rem;
$base-line-height-paragraph: 2.75rem;

$header-height:    44px;
$header-color:     #e6e4e4;

$base-unit:         1rem;
$base-unit-half:    0.5rem;
$base-unit-quarter: 0.25rem;

$text-color:       #111;
$background-color: #ecebeb;
$brand-color:      #0b9afb;

$grey-color:       #828282;
$grey-color-dark:  darken($grey-color, 25%);
$grey-color-med:   lighten($grey-color, 20%);
$grey-color-light: lighten($grey-color, 45%);

$color-white:      #e3e3e3;
$color-black:      #000;

$laptop:        1240px;
$tablet:        768px;
$mobile:        475px;

$layer-main-body: 1;
$layer-top-elements: 1000;

// Drawer Settings:
$drawer-width: 220px;
$drawer-max-height: 500px;

$transtion-drawer: all 0.3s ease-in-out;
$base-rounded-corners: 3px;

// =========== Responsive mixins
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin breakpoint($point) {
    @if $point == laptop {
        @media (min-width: $laptop) { @content ; }
    }
    @else if $point == tablet {
        @media (min-width: $tablet) { @content ; }
    }
    @else if $point == mobile {
        @media (min-width: $mobile) { @content ; }
    }
}