// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: $base-font-size * 1.75;
$base-line-height-paragraph: $base-font-size * 2.5;

$base-unit:        1em;
$spacing-unit:     15px;

$text-color:       #111;
$background-color: #ecebeb;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-dark:  darken($grey-color, 25%);
$grey-color-med:   lighten($grey-color, 20%);
$grey-color-light: lighten($grey-color, 45%);

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
