.link-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.text-small {
  font-size: 10px;
}

.btn {
  background-color: #eeefff;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 3px;
  display: inline-block;
  padding: 1px 6px;
  font-size: 0.75rem;

  &:hover {
    text-decoration: none;
  }
}

.split-header {
  display: flex;
  span:nth-child(1) {
    flex: 1 0 75%;
  }
  span:nth-child(2) {
    flex: 0 1 25%;
    font-size: 0.8rem;
    text-align: right;
  }
}
.table-collapsible {
  font-size: 14px;
  width: 100%;

  a:hover {
    text-decoration: none;
  }
  .mobile-toggle {
    display: none;
  }

  th:first-child{
    text-align: left;       
  }
  th {
    text-align: center;       
  }
  td:first-child {
    text-align: left;
  }
  td {
    text-align: center;
  }
  img {
    width: 35px;
  }
  tbody tr:nth-child(odd) {
    background: #eeefff;
  }
  tr td:nth-child(2),
  tr td:nth-child(3) {
    a {
      font-size: 24px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  tr td:nth-child(5) {
    font-size: 10px;
  }

  tr td a.star::before {
    content: '✭ '
  }
  tr td a:not(.star) {
    padding-left: 10px;
  }
  @media only screen and (max-width: 500px) {
    .mobile-toggle {
      padding-left: 5px;
      padding-top: 5px;
      position: relative;
      right: 5px;
      font-size: 11px;
      color: blue;
      cursor: pointer;
      float: right;
      width: 23px;
    }
    thead {
        background-color: blue;
        color: #eeeeee;
    }

    thead tr.row th {
        display: none;
    }

    tbody .row td:not(:first-child) {
        display: none;
    }

    td {
      text-align: left;
    }
    td:not(:first-child) {
      padding-left: 30px;
    }

    tbody .row.expand td {
        display: block;
        border-top: none;
    }

    tbody .row .icon-more {
      display: block;
    }
    tbody .row .icon-less {
      display: none;
    }
    tbody .row.expand .icon-more {
      display: none;
    }
    tbody .row.expand .icon-less {
      display: block;
    }

    // data-th attr matches column heading
    tbody td[data-th]:before {
        content: attr(data-th);
        padding: 0 10px;
        display: inline-block;
        text-align: right;
    }
    // The First TD is Always Visible as the mobile heading
    tbody td:first-child[data-th]:before {
        content: '';
        font-weight: bold;
    }
    // Ovverride title positioning for starred headings
    tr td a.star::before {
      content: ''
    }
    tr td a.star::after {
      content: ' ✭'
    }
    tr td a:not(.star) {
      padding-left: 0;
    }

  }
}