
@import "settings";

.link-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.text-small {
  font-size: 0.6rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.floated-img-left {
  float: left;
  width: 25%;

  max-width: 150px;
  margin: 1rem 1rem 1rem 0;
  padding: 0.25rem;
  border: 1px solid #666;
  border-radius: 0.25em;
}

.floated-img-right {
  float: right;
  width: 25%;
  max-width: 150px;
  margin: 1rem 0 1rem 1rem;
  padding: 0.15rem;
  border: 1px solid #666;
  border-radius: 0.25em;
}

.btn {
  background-color: #eeefff;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 3px;
  display: inline-block;
  padding: 1px 6px;
  font-size: 0.75rem;

  &:hover {
    text-decoration: none;
  }
}

.split-header {
  display: flex;
  span:nth-child(1) {
    flex: 1 0 75%;
  }
  span:nth-child(2) {
    flex: 0 1 25%;
    font-size: 0.8rem;
    text-align: right;
  }
}
.table-collapsible {
  font-size: 14px;
  width: 100%;

  a:hover {
    text-decoration: none;
  }
  .mobile-toggle {
    display: none;
  }

  th:first-child{
    text-align: left;       
  }
  th {
    text-align: center;       
  }
  td:first-child {
    text-align: left;
  }
  td {
    text-align: center;
  }
  img {
    width: 35px;
  }
  tbody tr:nth-child(odd) {
    background: #eeefff;
  }
  tr td:nth-child(2),
  tr td:nth-child(3) {
    a {
      font-size: 24px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  tr td:nth-child(5) {
    font-size: 10px;
  }

  tr td a.star::before {
    content: '✭ '
  }
  tr td a:not(.star) {
    padding-left: 10px;
  }
  @media only screen and (max-width: 500px) {
    .mobile-toggle {
      padding-left: 5px;
      padding-top: 5px;
      position: relative;
      right: 5px;
      font-size: 11px;
      color: blue;
      cursor: pointer;
      float: right;
      width: 23px;
    }
    thead {
        background-color: blue;
        color: #eeeeee;
    }

    thead tr.row th {
        display: none;
    }

    tbody .row td:not(:first-child) {
        display: none;
    }

    td {
      text-align: left;
    }
    td:not(:first-child) {
      padding-left: 30px;
    }

    tbody .row.expand td {
        display: block;
        border-top: none;
    }

    tbody .row .icon-more {
      display: block;
    }
    tbody .row .icon-less {
      display: none;
    }
    tbody .row.expand .icon-more {
      display: none;
    }
    tbody .row.expand .icon-less {
      display: block;
    }

    // data-th attr matches column heading
    tbody td[data-th]:before {
        content: attr(data-th);
        padding: 0 10px;
        display: inline-block;
        text-align: right;
    }
    // The First TD is Always Visible as the mobile heading
    tbody td:first-child[data-th]:before {
        content: '';
        font-weight: bold;
    }
    // Ovverride title positioning for starred headings
    tr td a.star::before {
      content: ''
    }
    tr td a.star::after {
      content: ' ✭'
    }
    tr td a:not(.star) {
      padding-left: 0;
    }

  }
}

.numbered-table {
  tbody {
    counter-reset: number;
  }
  tr td:first-child a {
    counter-increment: number;
  }
  tr td:first-child a::before {
    content: " "counter(number)" ";
  }
}

.vertical-align-container {
  display: flex;
  align-items: center;
}

.tag {
  display: inline-block;
  background: #1874af;
  padding: 0 0.5rem;
  white-space: nowrap;
  border: 1px solid #65afdd;
  color: #fff;
  border-radius: 1rem;
  line-height: 1rem;
  font-size: 0.65rem;
  font-weight: bold;
}

.demo {
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
  margin: 1rem 1rem 2rem;
  padding: 1rem 1rem 2rem;
  clear: both;

  &.lower {
    border-top: none;
    margin: 1rem;
    padding: 0 1rem 1rem;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    @include breakpoint(tablet) {
      font-size: 1.25rem;
      line-height: 1.8rem;      
    }
  }

  h4 {
    margin: 0;
    font-size: 0.75rem;
    line-height: 1.4rem;
    @include breakpoint(tablet) {
      font-size: 0.85rem;
      line-height: 1.6rem;
    }
  }

  p {
    font-size: 0.9rem;
    line-height: 1.7rem;
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint(tablet) {
      font-size: 1rem;
      line-height: 1.8rem;
    }
  }
}

.spacer {
  margin: 1rem 0;
}
