.card-text-link {
  border-bottom: dotted 1px blue;
  color: blue;
  cursor: pointer;
}

.card {
  @include default-box-shadow();
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 2px;
  max-width: 150px;
  color: #fff;
}

.card-show {
  display: inherit;
}

.card-arrow {
  position: absolute;
	width: 0;
	height: 0;
}

.card-right .card-arrow {
  left: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-right: 5px solid #222;
}

.card-left .card-arrow {
  right: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-left: 5px solid #222;
}

.card-up .card-arrow {
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  	border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid #222;
}
