
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta name="language" content="english">
    <meta http-equiv="content-type" content="text/html">
    <meta name="author" content="Mike Slater">
    <meta name="designer" content="Mike Slater">
    <meta name="publisher" content="Mike Slater">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Slater Bi-Minthly Knit Mitten Club</title>
    <meta name="distribution" content="web">

    <link rel="stylesheet" href="{{ "/css/knit.css" | prepend: site.baseurl }}">
  </head>

  <body>
    <header>
      <h1>The "Slatronica Bi-Monthly Women of Marvel Fingerless Mitten Club!"</h1>
    </header>
    <div class="wrapper knitclub">
      {{ content }}
    </div>
  </body>
</html>
