/**
 * Site footer
 */
.site-footer {
  font-size: $small-font-size;
  border-top: 1px solid $grey-color-med;
  padding: $base-unit 0;
  line-height: $base-line-height * 0.75;
}

.footer-heading {
  font-size: 0.9rem;
  margin-bottom: $base-unit / 8;
}

.contact-list {
    list-style: none;
    margin-left: 0;
}

.social-media-list {
    margin-left: 0;
    list-style: none;
}

.footer-col-wrapper {
    color: $grey-color;
    margin-left: -$base-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $base-unit / 2;
    padding-left: $base-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(30% - (#{$base-unit} / 2));
    width:         calc(30% - (#{$base-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(55% - (#{$base-unit} / 2));
    width:         calc(55% - (#{$base-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(15% - (#{$base-unit} / 2));
    width:         calc(15% - (#{$base-unit} / 2));
    text-align: right;
}
