/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-med;
}

.site-title {
    font-size: 1.65rem;
    letter-spacing: -2px;
    margin-bottom: 0;

    &:visited {
      color: $grey-color-dark;
    }
}

.site-subtitle {
  font-size: $small-font-size;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
}
