/**
 * Site header
 */
.header-bar {
  background: $brand_color;
  border-bottom: 1px solid $color-white;
  padding: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  z-index: $layer-top-elements;
  color: #fff;
  display: flex;

  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .logo {
    font-weight: bold;
    padding: 0 5px;
    margin: 5px 0 5px 5px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    letter-spacing: 5px;;
  }
  .logo2 {
    background: #000;
    margin: 5px 5px 5px 0;
  }

  .flex-left {
    flex-grow: 1;
  }

  .flex-center {
    justify-items: center;
  }

  .flex-right {
    text-align: right;
    flex-grow: 1;
  }

  .hamburger {
    width: 30px;
  }

  .hamburger .line{
    width: 30px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 6px auto;
    transition: $transtion-drawer;
  }

  .hamburger:hover{
    cursor: pointer;
  }

  &.active {
    .hamburger .line:nth-child(2){
      opacity: 0;
    }
  
    .hamburger .line:nth-child(1){
      transform: translateY(9px) rotate(45deg);
    }
  
    .hamburger .line:nth-child(3){
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}
